#piano{
    width: 40%;
    float: bottom;
    
}
.flecha{
    width: 1.2%;
}
#cinco{
    padding-left: 0.3%;
}
#seis{
    padding-left: 0.5%;
    
}
#siete{
    padding-left: 0.3%;
}
#doce{
    padding-left: 0.2%;
}
#trece{
    padding-left: 0.7%;
}
#diecisiete{
    padding-left: 0.4%;
}
#diecinueve{
    padding-left: 0.6%;
}
#venticinco{
    padding-left: 0.3%;
}
#ventiseis{
    padding-left: 0.5%;
}